:root {
    --button-1 : #9381FF;
    --button-2 : #B8B8FF;
    --background-color : #F8F7FF;
    --button-4 : #FFEEDD;
    --button-5 : #ffd8be;
    --element-border : 2px solid rgba(241, 241, 244, 1);
    --border : rgba(241, 241, 244, 1);
    --border-radius : 2%;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: var(--background-color)
}

#main-header {
    display: flex;
    height: 5rem;
    padding-bottom : 1rem ;
    padding-top: 1rem ;
    background-color: white;

}

#logo  {
    margin-left: 2rem;
    display: flex;
    gap: 0.5em;
    height: 3rem;
    
}
#logo h1 {
    line-height: 3rem;
    
}

#logo img {

}

main {
    width: 31rem;
    height: 40rem;
    border-radius: var(--border-radius);
    margin: 3rem auto;
    background-color: white;
}
