:root {
    --button-1 : #9381FF;
    --button-2 : #49df5d;

    --background-color : #F8F7FF;

    --button-recruiting : #24da5b; 
    --button-editorial : hsl(222, 88%, 55%);
    --button-q1 : #f01cbe;
    --button-website : #d41190;
    --button-mobile : #26eede;
    --button-sales : #efe254;

    --element-border : 2px solid rgba(241, 241, 244, 1);
    --border : rgba(241, 241, 244, 1);
    --border-radius : 15pxß;
}

.check  {
    margin-right: 1rem;
    color: rgb(0, 216, 0);
    border-radius :50%;
    border: 1px solid rgb(0, 216, 0);
}
.cross {
    padding-top: 1rem;
    display: inline-block;
 
    margin-right: 1rem;
    color: red;
    border: 2px solid red;
    border-radius :50%;

}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: var(--background-color);
}

#main-header {
    display: flex;
    height: 5rem;
    padding-bottom : 1rem ;
    padding-top: 1rem ;
    background-color: white;

}

#logo  {
    margin-left: 2rem;
    display: flex;
    gap: 0.5em;
    height: 3rem;
    
}
#logo h1 {
    line-height: 3rem;
    
}


main {
    width: 95%;
    max-width: 34rem;
    height: 95%;
    border-radius: var(--border-radius);
    margin: 3rem auto;
    background-color: white;
}

#button-nav {
    height: 4rem;
    border-bottom: var(--element-border);
    padding-left: 2rem;
}
.button-nav {
    line-height: 4rem;
}
.button-style-1 {
    padding: 0 10px;
    height: 2rem;
    color: white;
    background-color: var(--button-2);
    border-radius: 5px;
    border: none;
}
.button-style-2 {
    color: white;
    height: 2rem;
    padding: 0 10px;
    background-color: black;
    border-radius: 5px;
    border: none;
}

.button-style-editorial {
    color: white;
    height: 2rem;
    padding: 0 10px;
    background-color: var(--button-editorial);
    border-radius: 30px;
    border: none;
}

.button-style-q1 {
    color: white;
    height: 2rem;
    padding: 0 10px;
    color: white;
    background-color: var(--button-q1);
    border-radius: 30px;
    border: none;
}

.button-style-recruiting {
    color: white;
    height: 2rem;
    padding: 0 10px;
    background-color: var(--button-recruiting);
    border-radius: 30px;
    border: none;
}

.button-style-mobile {
    color: white;
    height: 2rem;
    padding: 0 10px;
    background-color: var(--button-mobile);
    border-radius: 30px;
    border: none;
}

.button-style-website {
    height: 2rem;
    padding: 0 10px;
    color: white;
    background-color: var(--button-website);
    border-radius: 30px;
    border: none;
}

.button-style-sales {
    height: 2rem;
    padding: 0 10px;
    color: white;
    background-color: var(--button-sales);
    border-radius: 30px;
    border: none;
}

.content-section {

    padding: 2rem 10%;
}

ul li {
    list-style-type: none;
    margin: 1rem 1rem;
    width: 100%;
    text-decoration: none;
}


details {
    line-height: 2rem;
    margin-bottom: 2rem;
}

summary {
    font-size:x-large;
    margin-bottom: 1rem;
}

.todo-list {
    line-height: 2rem;
    margin-left: 2rem;
    height: 2rem;
    gap: 1rem;
    display: flex;
}
